body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header, footer {
    background-color: #333;
    color: rgb(237, 237, 237);
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

#page-1 {
    background-image: url("images/school.jpeg");
    height: 100vh; 
    margin: 0;
    background-size: cover;
    background-position: center;

}

#page-2 {
    background-image: url("images/door.jpeg");
    height: 100vh; 
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color: rgb(247, 242, 230);
}

#page-3 {
    background-image: url("images/pixil-frame-0.png");
    height: 100vh; 
    background-size: 90vh;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color: #c2bca4;
    justify-content: center;
    position: relative;
}

#books {
    color: white;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px;
    align-items: flex-end;

}

.book-item {
    background-color: rgba(132, 132, 132, 0.8); /* Optional: for better readability */
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    
}

.book-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px black;
}

#computer {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}

#computer-screen {

}

#form-on-screen {
    position: absolute;
  background-color: rgba(181, 181, 181, 0.8);
  padding: 10px;
  right: 7vh;
  bottom: 20vh;
  height: 30vh;
  width: 33vw;
}

.shelf {
    position: absolute;
    right: 39vw;
    width: 40vw;
    bottom: 48vh;
}

#book-form {
    display: grid;
    font-size: larger;
  }

